.slider-fixed{
    --width: 18vw;
    position: fixed;
    width: var(--width);
    top: 10vh;
    left: calc(50vw - var(--width)/2);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.pixelated{
    image-rendering: pixelated;
    width: 100%;
}

.arrow-container{
    display: flex;
    align-items: center;
}

.p-dialog-title{
    display: flex;
    justify-content: center;
}

.invisible{
    display: none;
}
