body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.37);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw
}

.card-blur{
  background: rgba(255, 255, 255, 0.9) !important;
  border-radius: 16px !important;
  //backdrop-filter: blur(6px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.28) !important;
}

/*
Override prime theme
 */
span.p-autocomplete input.p-inputtext{
  width: 100%
}

div.p-selectbutton.p-buttonset.p-component{
    box-shadow: none;
}
