.poke-card{
    background: rgba(255, 255, 255, 0.8) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    //backdrop-filter: blur(6px) !important;
    //-webkit-backdrop-filter: blur(6px) !important;
    border: 1px solid rgba(255, 255, 255, 0.28) !important;
}
